*{
padding: 0;
margin: 0;
font-family: 'Times New Roman', Times,
}
body{
height: 100vh;
background: rgb(255, 243, 210);
padding: 30px;
}
.container{
height: 100%;
background: rgb(255, 253, 249);
color: laliceblue;
border-radius: 4%;
}
header {
padding: 40px;
display: flex;
justify-content: space-between;
background: rgb(209, 211, 255);
border-radius: 8px;
}
.logo{
font-size: 26px;
font-weight: bold;
letter-spacing: 1px;
color: rgb(56, 56, 205);
text-decoration: none;
}
.logo:hover {
transform: scale(1.5);
color: rgb(173, 96, 173);
}
.inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 100px 5% 0;
}
.inicio-detalle h1 {
    font-size: 44px;
    background: rgb(108, 165, 218);
    background-clip: text;
    color: transparent;
}

.inicio-detalle h2 {
    font-size: 18px;
    color: rgb(222, 123, 123);
    margin-bottom: 15px;
}

.inicio-detalle p {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
}
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(215, 243, 220);
    border: 3px solid;
    border-radius: 40px;
    color: rgb(16, 173, 37);
    text-decoration: none;
    font-weight: 600;
}
.btn:hover {
    background: transparent;
    transform: translateY(-5px);
    color: rgb(164, 227, 116);
}
.perfil {
    width: clamp(850px, 25vw, 380px);
    height: clamp(450px, 25vw, 380px);
}

.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    border-radius: 50%;
    border: 7px solid;
    color: rgb(215, 182, 245);
}

.perfil:hover img {
    transform: scale(1.1);
}
.social-icons a {
    font-size: 40px;
    color: rgb(228, 119, 184);
    text-decoration: none;
}

.social-icons a:hover {
    color: rgb(236, 220, 236);
}